# Ambiente Virtual
venv/
*.pyc
__pycache__/

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/

# Arquivos de Banco de Dados
db.sqlite3
*.sqlite3

# Arquivos de Mídia e Estáticos (produção)
/media/
/static_root/

# Arquivos de Log
*.log

# Arquivos de ambiente
.env